@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for WebKit-based browsers */
/* Track */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
  background: #e9e9e9;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8c8c8; /* Color of the scrollbar handle */
  border-radius: 4px; /* Adjust the border radius to make it rounded */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adadad; /* Color of the scrollbar handle on hover */
}
